/*-----Global Reset-----*/
@import "normalize.css"

body {
    font: 12pt/1.5em Arial, Helvetica, sans-serif;
    max width: 67%;
    margin: auto;
}
pre, code, tt {
    font: 1em/1.5em 'Andale Mono', 'Lucida Console', monospace;
}
h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: bold;
}
h1 {
	font-family: Georgia, Times, serif;
	font-size: 36px;
}
#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 10px;
	list-style: none;
	background-color: #c6691e;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; }
#nav li {
	float: left;
}
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-size:13px;
	font-weight: bold;
	color: #fff;
	border-right: 1px solid #ccc; 
}
#nav li a:hover {
	color: #c00;
	background-color: #fff; 
}
#subscribe {
	background:#c73a3a;
	width: 180px;
	height: 260px;
	margin: auto;
	border: 2px solid #663614;
}
.sub1 {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 32px;
	color: #fff;
}
.sub2 {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 17.5px;
	color: #fff;
}
.sub3 {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fff;
}
article {
	background-color:beige;
	width:600px;
	margin: 0 auto;
	padding:10px
	text-align: left;
	font-size: 12pt;
	border: 1px solid #000;
	float:left;
}
aside {
	background:tan;
	border: 1px solid #000;
	width: 220px;
	text-align: center;
	float:right;
}
footer {
	font-size: 8px
	font-family: Arial, "MS Trebuchet", sans-serif; Arial
	color: #fff;
}
