/*-----Global Reset-----*/
@import "normalize.css"

body {
    font: 14pt/1.5em Arial, Helvetica, sans-serif;
    width: 67%;
    margin: auto;
}
header {
	padding-top:1%;
}
#search {
	float:right;
	clear:both;
}
h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: bold;
}
h1 {
	font-family: Georgia, Times, serif;
	font-size: 1.5em;
}
h2 {
	font: 1.5em Helvetica, sans-serif;
	font-weight:bold;
	text-align:center;
}
h3 {
	font: 1.4em Helvetica, sans-serif;
	font-weight:bold;
}
h4 {
	font: 1.2em Helvetica, sans-serif;
	text-decoration:inherit;
}
h5 {
	font: 1em Georgia, Times, serif;
	text-decoration:inherit;
}
h6 {
	font: .7em Georgia, Times, serif;
}
p {
	font: 1.1em Helvetica, sans-serif;
}
#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background: rgb(99,45,15); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxOSUiIHN0b3AtY29sb3I9IiM2MzJkMGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MyUiIHN0b3AtY29sb3I9IiNhMzZlNTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNWIyMTEzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(99,45,15,1) 19%, rgba(163,110,81,1) 63%, rgba(91,33,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(19%,rgba(99,45,15,1)), color-stop(63%,rgba(163,110,81,1)), color-stop(100%,rgba(91,33,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(99,45,15,1) 19%,rgba(163,110,81,1) 63%,rgba(91,33,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(99,45,15,1) 19%,rgba(163,110,81,1) 63%,rgba(91,33,19,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(99,45,15,1) 19%,rgba(163,110,81,1) 63%,rgba(91,33,19,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(99,45,15,1) 19%,rgba(163,110,81,1) 63%,rgba(91,33,19,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#632d0f', endColorstr='#5b2113',GradientType=0 ); /* IE6-8 */
	border: 2px solid #6c2e16;}
#nav li {
	float: left;
}
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-size:14px;
	font-weight: bold;
	color: #fff;
	border: none; 
}
#nav li a:hover {
	color: #c00;
	background-color: #6c2e16; 
}
#truffle {
	background:#c73a3a;
	width: 190px;
	height: 270px;
	margin: auto;
	border: 2px solid #ead685;
}
.sub1 {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 32px;
	color: #fff;
}
.sub2 {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 17.5px;
	color: #fff;
}
.sub3 {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #fff;
}
#dhall {
	width:680px;
	height:440px;
	padding: 0;
}
article {
	background-color:beige;
	font-size: 10pt;
	width:705px;
	margin-bottom: 10px;
	padding:5px;
	text-align: left;
	border: 2px solid #ead685;
	float:left;
}
.art2 {
	background-color:beige;
	font-family:Georgia, Times, serif;
	width:420px;
	height:200px;
	margin-top: 20;
	padding-left:5px;
	text-align: left;
	border: 12px solid #ead685;
	float:left;
}
.red1 {
	color:red;
	float:right;
}
.art3 {
	background-color:beige;
	font-family:Georgia, Times, serif;
	width:203px;
	height:200px;
	margin-top: 0;
	margin-right: 16px;
	padding: 5px;
	text-align: left;
	border: 12px solid #ead685;
	float:right;
}
.cooking {
	
}
#form {
	background-color:beige;
	font-family:Georgia, Times, serif;
	font-size: 12pt;
	width:320px;
	height:800px;
	margin: 0;
	padding:10px;
	text-align: left;
	border: 2px solid #ead685;
	float:left;
	clear:left;
}
#reg {
	background-color:beige;
	font-family:Georgia, Times, serif;
	font-size: 12pt;
	width:320px;
	height:676px;
	margin: 0;
	padding:10px;
	text-align: left;
	border: 2px solid #ead685;
	float:left;
	clear:left;
}
.send {
	float:right;
	background-color:beige;
}
#gallery {
	background-color:#ead685;
	width:705px;
}
#contacts {
	background-color:beige;
	font-family:Georgia, Times, serif;
	font-size: 14pt;
	width:340px;
	height:475px;
	margin-right: 10px;
	padding:10px;
	text-align: center;
	border: 2px solid #ead685;
	float:right;
}
#map {
	width: 360px;
	padding-right: 15px;
	padding-top: 10px;
	float:right;
	
}
.classes {
	display: none;
	width: 600px;
	padding: 10px;
	float: right;
}
#classimg {
	background:beige;
	border: 2px solid #ead685;
	display:block;
	width:350px;
	padding-right: 10px;
	margin-right:17px;
	float:right;
}
aside {
	background:#ead685;
	border: 2px solid #ead685;
	width: 215px;
	text-align: center;
	float:right;
}
#404 {
	background-color:#fff;
	margin: 0 auto;
	float:right;
}
#footer {position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
	color: white;
	text-align:center;
}

/* Media Queries 
============================================================= */

/* Tablet portrait to standard 1024px (devices and browsers) */
	@media screen and (min-width: 769px) and (max-width: 1024px){
		nav ul li:first-child {margin-left: .1%;}
		nav a {font-size: 22px;}
		body {width: 100%;} /* 640px; */
}

/* Mobile landscape to tablet portrait (devices and browsers) */
	@media screen and (min-width: 481px) and (max-width: 768px){
		nav ul li:first-child {margin-left: .1%;} /* 350px; */
		nav a {font-size: 18px;}
		body {width: 80%;} /* 640px; */
		ol {font-size: 80%;} /*18px;*/
}

/* Mobile potrait to mobile landscape (devices and browsers) */
	@media screen and (max-width: 480px){
		#nav {width: 100%; float: left; margin: 0 0 3em 0; padding: 0; list-style: none; #wrapper {background-color: #ff7743;}
		#nav li {float: left;}
		#nav li a {display: inline-table; padding: 8px 15px; text-decoration: none; font-size:14px; font-weight: bold; color: #fff; border: none;}
		#nav li a:hover {color: #c00; background-color: #6c2e16; }
		#header {width: 100%; float:left;}
		#dhall {display: none;}
		article {width:100%;}
		.art2 {width:100%; height:auto;}
		.art3 {display: none;}
		#gallery {display: none;}
		body {width: 90%;} /* 640px; */
		ol {font-size: 60%;}
		#footer {display:none;}
}